@import "./normalize.css";
@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less"; // 引入官方提供的 less 样式入口文件

/* 样式的重置 */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}

i,
em {
  font-style: normal;
}
input,
textarea,
button,
select,
a {
  outline: none;
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: none;
  vertical-align: middle;
}

/* 全局样式 */
body,
textarea,
select,
input,
button {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

&::-webkit-scrollbar {
  width: 5px;
}
&::-webkit-scrollbar-thumb {
  background-color: rgba(29, 165, 122);
  border-radius: 10px;
}

.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
